# Industry 4.0 의 중심, BigData

<div align='right'><font size=2 color='gray'>Data Processing Based Python @ <font color='blue'><a href='https://www.facebook.com/jskim.kr'>FB / jskim.kr</a></font>, [김진수](bigpycraft@gmail.com)</font></div>
<hr>

# Pandas Basic VI

In [1]:
# Pandas Basics
from IPython.display import Image 

from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## 6. Other pandas topics
> pandas와 관련된 기타 주제

### <font color='brown'> Integer indexing </font>
> 정수 색인
> - pandas 객체를 정수로 색인해서 사용하는 일은 파이썬에서 리스트나 튜플 같은 기본 자료 구조에서 사용하는 색인의 의미와 약간 달라서 종종 실수를 할 수 있으므로 주의한다 !!

In [2]:
ser = Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [3]:
ser.iloc[-1]

2.0

In [4]:
ser2 = Series(np.arange(3.), index=['a', 'b', 'c'])
ser2

a    0.0
b    1.0
c    2.0
dtype: float64

In [5]:
ser2[-1]

2.0

In [6]:
# ser.ix[:1]
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [7]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [8]:
ser.iloc[:1]

0    0.0
dtype: float64

In [9]:
ser3 = Series(range(3), index=[-5, 1, 3])
ser3

-5    0
 1    1
 3    2
dtype: int64

In [10]:
ser3.iloc[2]

2

In [11]:
frame = DataFrame(np.arange(6).reshape((3, 2)), index=[2, 0, 1])
frame

   0  1
2  0  1
0  2  3
1  4  5

In [12]:
frame.iloc[0]

0    0
1    1
Name: 2, dtype: int32

### <font color='gray'> Panel data :</font>   <font color='red'> is no longer supported in Pandas </font>
> Panel 데이터
> - Panel : DataFrame 객체를 담고 있는 사전이나 3차원 ndarray를 통해 생성할 수 있다.
> - Panel은 DataFrame의 3차원 버전이라고 이해 !!
> - pandas 개발은 스프레드시트 형식의 데이터를 다루는 데 초점을 맞추고 있고,
> - 계층적 색인을 이용하면 대개의 경우 N차원 배열은 불필요하다.

In [13]:
"현재 사용중인 pandas의 버전은 {} 입니다".format(pd.__version__)

'현재 사용중인 pandas의 버전은 1.3.4 입니다'

<!--
import pandas_datareader as web

출처: https://wendys.tistory.com/176?category=769564 [웬디의 기묘한 이야기:티스토리]

https://wendys.tistory.com/173 - Pandas를 이용하여 주식 종목 코드 가져오기
https://wendys.tistory.com/174 - pandas_datareader를 이용하여 주식 데이터 가져오기! Yahoo Finance


예제로 배우는 파이썬 프로그래밍
http://pythonstudy.xyz/
- Python GUI
- Python Data
- Django 기초
- Python 활용
- Python TIP

-->

#### 상장법인목록 다운
> - 한국거래소에서 상장법인목록을 엑셀로 다운로드하는 링크
> - [ [상장법인목록 다운로드] ](http://kind.krx.co.kr/corpgeneral/corpList.do?method=download)

<!--
CASE1
# excel 파일을 다운로드하는거와 동시에 pandas에 load하기
# 흔히 사용하는 df라는 변수는 data frame을 의미합니다.
df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)


CASE2
df = pd.read_html('./data/상장법인목록.xls', header=0)[0]
df.head()
-->

#### Case1. Download Excel Loading

In [14]:
# excel 파일을 다운로드하는거와 동시에 pandas에 load하기
# 흔히 사용하는 df라는 변수는 data frame을 의미합니다.
download = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)

In [15]:
type(download)

list

In [16]:
len(download)

1

In [17]:
type(download[0])

pandas.core.frame.DataFrame

In [18]:
corp_df = download[0]
corp_df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DL,210,기타 금융업,지주회사,1976-02-02,12월,전병욱,http://www.dlholdings.co.kr,서울특별시
1,DRB동일,4840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월,류영식,http://drbworld.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,78930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,KG케미칼,1390,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제",1989-08-25,12월,"곽정현, 김재익",http://www.kgchem.co.kr,울산광역시

In [19]:
len(corp_df)

2498

In [20]:
corp_df.tail()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
2493,타임기술,318660,소프트웨어 개발 및 공급업,"ILS(종합군수지원), IETM(전자식기술교범), CBT(전자식교보재), 기술번역",2021-06-24,12월,주양효,http://timett.co.kr,경상남도
2494,틸론,217880,소프트웨어 개발 및 공급업,"Cloud Solution (D,A,E,Rstation)",2015-05-28,12월,최백준,http://www.tilon.co.kr,서울특별시
2495,플럼라인생명과학,222670,자연과학 및 공학 연구개발업,"강아지암치료제,돼지DNA테라피",2015-07-28,12월,김앤토니경태,http://www.plsdna.com,서울특별시
2496,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도
2497,휴벡셀,212310,의료용 기기 제조업,척추용 임플란트 등,2016-07-26,12월,"박정민, 허성규(각자대표)",http://huvexel.com,경기도

#### Case2. Download Excel Loading

In [21]:
df = pd.read_excel('./data/Stock_Corporations.xlsx')
df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DL,210,기타 금융업,지주회사,1976-02-02,12월,전병욱,http://www.dlholdings.co.kr,서울특별시
1,DRB동일,4840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월,류영식,http://drbworld.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,78930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,KG케미칼,1390,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제",1989-08-25,12월,"곽정현, 김재익",http://www.kgchem.co.kr,울산광역시

In [22]:
len(df)

2499

In [23]:
df.tail()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
2494,타임기술,318660,소프트웨어 개발 및 공급업,"ILS(종합군수지원), IETM(전자식기술교범), CBT(전자식교보재), 기술번역",2021-06-24,12월,주양효,http://timett.co.kr,경상남도
2495,틸론,217880,소프트웨어 개발 및 공급업,"Cloud Solution (D,A,E,Rstation)",2015-05-28,12월,최백준,http://www.tilon.co.kr,서울특별시
2496,플럼라인생명과학,222670,자연과학 및 공학 연구개발업,"강아지암치료제,돼지DNA테라피",2015-07-28,12월,김앤토니경태,http://www.plsdna.com,서울특별시
2497,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도
2498,휴벡셀,212310,의료용 기기 제조업,척추용 임플란트 등,2016-07-26,12월,"박정민, 허성규(각자대표)",http://huvexel.com,경기도

In [24]:
# pandas data frame을 '상장일' 기준으로 정렬 (ascending=[True], [False]로 오름차순, 내림차순 정렬)
df = df.sort_values(['상장일'], ascending=True) 
df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
1572,경방,50,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
2218,유수홀딩스,700,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
1021,한진중공업홀딩스,3480,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,"조남호, 조원국",http://www.hhic-holdings.com,경기도
1596,메리츠화재,60,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
920,CJ대한통운,120,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,"강신호,민영학(각자대표)",http://www.cjlogistics.com,서울특별시

In [25]:
df.지역.unique()

array(['서울특별시', '경기도', '인천광역시', '부산광역시', '제주특별자치도', '경상남도', '충청북도',
       '광주광역시', '대구광역시', '충청남도', '경상북도', '울산광역시', '전라북도', '전라남도', '대전광역시',
       '강원도', '세종특별자치시', '케이맨 제도', '미국', '홍콩', '일본', '싱가포르'], dtype=object)

In [26]:
df[df.지역 == '광주광역시'].head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
2215,우리종금,10050,기타 금융업,"종합금융,주택할부금융,부동산",1974-09-11,12월,김종득,http://wooriib.com,광주광역시
2178,대유플러스,300,통신 및 방송 장비 제조업,"유,무선 통신장비",1975-06-09,12월,박상민,http://www.dayouplus.co.kr,광주광역시
1584,대유에이텍,2880,자동차 신품 부품 제조업,자동차부품(자동차용 시트)제조,1977-02-18,12월,권의경,http://www.dayouat.co.kr,광주광역시
1374,대신정보통신,20180,"컴퓨터 프로그래밍, 시스템 통합 및 관리업","디지털서비스, SI서비스, 산업용 PDA",1995-10-06,03월,"이재원, 최현택 (각자 대표이사)",http://www.dsic.co.kr,광주광역시
425,화천기공,850,특수 목적용 기계 제조업,"CNC선반,CNC밀링,연마기(금속공작기계),MC공작기계,COPY밀링기계,주방품 제조,도매",1999-11-18,12월,"각자대표이사 권영두, 권영렬",http://www.hwacheon.com,광주광역시

In [27]:
mask = (df.지역 == '광주광역시') | (df.지역 == '전라북도' ) | (df.지역 == '전라남도' )

In [28]:
honam_df = df[mask]
honam_df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
2215,우리종금,10050,기타 금융업,"종합금융,주택할부금융,부동산",1974-09-11,12월,김종득,http://wooriib.com,광주광역시
2178,대유플러스,300,통신 및 방송 장비 제조업,"유,무선 통신장비",1975-06-09,12월,박상민,http://www.dayouplus.co.kr,광주광역시
1273,백광산업,1340,기초 화학물질 제조업,"가성소다,합성염산 제조,판매",1976-06-10,12월,김성훈,http://www.pkic.co.kr,전라북도
1011,페이퍼코리아,1020,"펄프, 종이 및 판지 제조업","제지(신문용지,중질지),합판 제조,건설,석유류 판매",1976-06-26,12월,권육상,http://www.papercorea.co.kr,전라북도
349,금호건설,2990,건물 건설업,"종합건설/여객운송,관광/부동산 임대,분양",1976-06-26,12월,서재환,http://www.kumhoenc.com,전라남도

In [29]:
len(honam_df)

73

In [30]:
honam_corp = honam_df[['회사명', '종목코드']]
honam_corp

          회사명    종목코드
2215     우리종금   10050
2178    대유플러스     300
1273     백광산업    1340
1011   페이퍼코리아    1020
349      금호건설    2990
...       ...     ...
33      두산퓨얼셀  336260
1832     피피아이   62970
787     박셀바이오  323990
2009      비나텍  126340
2228  일진하이솔루스  271940

[73 rows x 2 columns]

In [31]:
honam_corp = honam_corp.rename(columns={'회사명': 'Corp.Honam', '종목코드': 'Code.KS'})
honam_corp.head()

     Corp.Honam  Code.KS
2215       우리종금    10050
2178      대유플러스      300
1273       백광산업     1340
1011     페이퍼코리아     1020
349        금호건설     2990

<!--
df = df[['회사명', '종목코드']]
df.head()

df = df.rename(columns={'회사명': 'name', '종목코드': 'code'})
df.head()
-->

#### Pandas Data Reader를 통해서 Yahoo Finace의 데이터를 가져오기위해서는 두 가지 방법이 존재
> 
> - 방법1 : DataReader API를 통해서 yahoo finance의 주식 종목 데이터를 가져온다.
> - 방법2 : get_data_yahoo API를 통해서 yahho finance의 주식 종목 데이터를 가져온다.

In [32]:
# import pandas.io.data as web
import pandas_datareader as web
from datetime import datetime

In [33]:
web.get_data_yahoo('YOJ.SG')

              High     Low    Open   Close  Volume  Adj Close
Date
2017-05-31  4.0000  4.0000  4.0000  4.0000     0.0   9.376454
2017-06-01  3.9520  3.9520  3.9520  3.9520     0.0   9.263937
2017-06-02  3.9130  3.9130  3.9130  3.9130     0.0   9.172517
2017-06-05  3.9130  3.9130  3.9130  3.9130     0.0   9.172517
2017-06-06  3.9320  3.9250  3.9250  3.9320     0.0   9.217055
...            ...     ...     ...     ...     ...        ...
2022-05-24  3.0780  3.0780  3.0780  3.0780     0.0   3.078000
2022-05-25  3.0230  3.0230  3.0230  3.0230     0.0   3.023000
2022-05-26  3.0355  3.0355  3.0355  3.0355     0.0   3.035500
2022-05-27  2.9925  2.9925  2.9925  2.9925     0.0   2.992500
2022-05-30  3.0640  3.0640  3.0640  3.0640     0.0   3.064000

[1267 rows x 6 columns]

In [34]:
# 방법1 
# df = web.DataReader('주식 종목코드')
# df = web.DataReader('AAPL')
df = web.get_data_yahoo('YOJ.SG')
df.head()

             High    Low   Open  Close  Volume  Adj Close
Date
2017-05-31  4.000  4.000  4.000  4.000     0.0   9.376455
2017-06-01  3.952  3.952  3.952  3.952     0.0   9.263937
2017-06-02  3.913  3.913  3.913  3.913     0.0   9.172518
2017-06-05  3.913  3.913  3.913  3.913     0.0   9.172518
2017-06-06  3.932  3.925  3.925  3.932     0.0   9.217054

In [35]:
# 방법2 : 기간정보(yyyy-mm-dd)
df = web.get_data_yahoo('035720.KS', start='2020-01-01')    # 카카오. 035720
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,31127.228516,30623.552734,31026.494141,30724.287109,1196436.0,30697.591797
2020-01-03,31227.964844,30422.082031,30925.757812,30724.287109,1562748.0,30697.591797
2020-01-06,31227.964844,30220.611328,30321.345703,31127.228516,1954204.0,31100.181641
2020-01-07,32235.318359,31127.228516,31227.964844,32235.318359,4170263.0,32207.308594
2020-01-08,32638.259766,31530.169922,31933.111328,32134.582031,4227010.0,32106.660156

In [36]:
# 방법3 : 기간정보(datetime)
start = datetime(2022,1,1)
end   = datetime(2022,5,31)

In [37]:
df = web.get_data_yahoo('005930.KS', start, end)   # 삼성전자. 005930
df

               High      Low     Open    Close      Volume     Adj Close
Date
2022-01-04  79200.0  78300.0  78800.0  78700.0  12427416.0  78295.289062
2022-01-05  79000.0  76400.0  78800.0  77400.0  25470640.0  77001.976562
2022-01-06  77600.0  76600.0  76700.0  76900.0  12931954.0  76504.546875
2022-01-07  78400.0  77400.0  78100.0  78300.0  15163757.0  77897.343750
2022-01-10  78100.0  77100.0  78100.0  78000.0   9947422.0  77598.890625
...             ...      ...      ...      ...         ...           ...
2022-05-24  67700.0  66500.0  67500.0  66500.0  15482576.0  66500.000000
2022-05-25  67100.0  65900.0  66700.0  66400.0  15150490.0  66400.000000
2022-05-26  67200.0  65500.0  66300.0  65900.0  15970890.0  65900.000000
2022-05-27  66900.0  66200.0  66700.0  66500.0  11405555.0  66500.000000
2022-05-30  67800.0  66900.0  67500.0  67700.0  14024265.0  67700.000000

[98 rows x 6 columns]

<hr>
<marquee><font size=3 color='brown'>The BigpyCraft find the information to design valuable society with Technology & Craft.</font></marquee>
<div align='right'><font size=2 color='gray'> &lt; The End &gt; </font></div>