In [1]:
# Pandas Basics
from IPython.display import Image 

from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
# pd.show_versions()

In [3]:
# %pip list

In [4]:
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
type(obj)

pandas.core.series.Series

In [16]:
obj = Series(['전북은행', '광주은행'], index=[1, 3])
obj.reindex(range(4), method='ffill')

0     NaN
1    전북은행
2    전북은행
3    광주은행
dtype: object

In [7]:
obj = Series(['전북은행', '광주은행'], index=[0, 2])
obj.reindex(range(4), method='ffill')

0    전북은행
1    전북은행
2    광주은행
3    광주은행
dtype: object

In [18]:
df = DataFrame(np.random.randn(6,3))
df.iloc[2:, 0] = np.nan
df.iloc[4:, 3] = np.nan
df

          0         1         2
0  0.798585 -0.773491  0.282810
1  0.078779  2.092101  0.294368
2       NaN  1.742895 -0.143250
3       NaN  0.525073 -0.144272
4       NaN  0.424364       NaN
5       NaN  0.480341       NaN

In [22]:
df = DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = np.nan
df.iloc[4:, 2] = np.nan
df

          0         1         2
0  0.282782  0.872708  1.483005
1 -0.025049 -1.273900  0.309108
2  0.838959       NaN -1.100469
3  0.355525       NaN -0.157397
4 -1.369251       NaN       NaN
5 -0.504902       NaN       NaN