# Industry 4.0 의 중심, BigData

<div align='right'><font size=2 color='gray'>Data Processing Based Python @ <font color='blue'><a href='https://www.facebook.com/jskim.kr'>FB / jskim.kr</a></font>, 김진수</font></div>
<hr>

## <font color='brown'>Handling Excel File</font>
>  
- <b><font color='FFAAAA'>엑셀파일 읽고 쓰기</font></b>
- 엑셀파일 통합
- 엑셀데이터 핸들링
- 엑셀데이터 시각화

<font color='#0000FF'>★ 실습데이터 파일 : 
<a href='https://github.com/bigpycraft/sba19-seoulit/tree/master/Sect-D/data/xls_data.zip'>[다운로드]</a></font>

<hr>

### <font color='#CC0000'>엑셀파일 읽고 쓰기</font>

In [1]:
import pandas as pd

#### <font color='#0000CC'> 엑셀파일 데이터 읽기

In [2]:
xls_file = './data/test_score.xlsx'

In [3]:
df = pd.read_excel(xls_file)
df

  학생  국어  영어  수학         평균
0  A  80  90  85  85.000000
1  B  90  95  95  93.333333
2  C  95  70  75  80.000000
3  D  70  85  80  78.333333
4  E  75  90  85  83.333333

In [4]:
df = pd.read_excel(xls_file, sheet_name=1)
df

  학생  과학  사회   역사         평균
0  A  90  95   85  90.000000
1  B  85  90   80  85.000000
2  C  70  80   75  75.000000
3  D  75  90  100  88.333333
4  E  90  80   90  86.666667

In [5]:
df = pd.read_excel(xls_file, sheet_name='중간고사')
df

  학생  국어  영어  수학         평균
0  A  80  90  85  85.000000
1  B  90  95  95  93.333333
2  C  95  70  75  80.000000
3  D  70  85  80  78.333333
4  E  75  90  85  83.333333

In [6]:
df = pd.read_excel(xls_file, sheet_name='기말고사')
df

  학생  과학  사회   역사         평균
0  A  90  95   85  90.000000
1  B  85  90   80  85.000000
2  C  70  80   75  75.000000
3  D  75  90  100  88.333333
4  E  90  80   90  86.666667

In [7]:
df = pd.read_excel(xls_file, sheet_name='기말고사', index_col=0)
df

    과학  사회   역사         평균
학생
A   90  95   85  90.000000
B   85  90   80  85.000000
C   70  80   75  75.000000
D   75  90  100  88.333333
E   90  80   90  86.666667

In [8]:
df = pd.read_excel(xls_file, sheet_name='기말고사', index_col='학생')
df

    과학  사회   역사         평균
학생
A   90  95   85  90.000000
B   85  90   80  85.000000
C   70  80   75  75.000000
D   75  90  100  88.333333
E   90  80   90  86.666667

#### <font color='#0000CC'> 데이터를 엑셀파일 쓰기

- 성적데이터1

In [9]:
excel_exam_data1 = {
    '학생': ['A', 'B', 'C', 'D', 'E', 'F'],
    '국어': [80, 90, 95, 70, 75, 85],
    '영어': [90, 95, 70, 85, 90, 95],
    '수학': [85, 95, 75, 80, 85, 100]
}

df1 = pd.DataFrame(excel_exam_data1,columns=['학생','국어','영어','수학'] )
df1

  학생  국어  영어   수학
0  A  80  90   85
1  B  90  95   95
2  C  95  70   75
3  D  70  85   80
4  E  75  90   85
5  F  85  95  100

In [10]:
excel_writer = pd.ExcelWriter('./data/test_score2.xlsx', engine='xlsxwriter')
df1.to_excel(excel_writer, index=False)
excel_writer.save()

In [11]:
excel_writer = pd.ExcelWriter('./data/test_score3.xlsx', engine='xlsxwriter')
df1.to_excel(excel_writer, index=False, sheet_name='중간고사')
excel_writer.save()

In [12]:
# !dir .\data\*.xlsx

- 성적데이터2

In [13]:
excel_exam_data2 = {
    '학생': ['A', 'B', 'C', 'D', 'E', 'F'],
    '국어': [85, 95, 75, 80, 85, 100],
    '영어': [80, 90, 95, 70, 75, 85],
    '수학': [90, 95, 70, 85, 90, 95]
}

df2 = pd.DataFrame(excel_exam_data2,columns=['학생','국어','영어','수학'] )
df2

  학생   국어  영어  수학
0  A   85  80  90
1  B   95  90  95
2  C   75  95  70
3  D   80  70  85
4  E   85  75  90
5  F  100  85  95

In [14]:
excel_writer = pd.ExcelWriter('./data/test_score4.xlsx', engine='xlsxwriter')
df1.to_excel(excel_writer, index=False, sheet_name='중간고사')
df2.to_excel(excel_writer, index=False, sheet_name='기말고사')
excel_writer.save()

In [15]:
# !dir .\data\*.xlsx

<hr>
<marquee><font size=3 color='brown'>The BigpyCraft find the information to design valuable society with Technology & Craft.</font></marquee>
<div align='right'><font size=2 color='gray'> &lt; The End &gt; </font></div>