# Industry 4.0 의 중심, BigData

<div align='right'><font size=2 color='gray'>Data Processing Based Python @ <font color='blue'><a href='https://www.facebook.com/jskim.kr'>FB / jskim.kr</a></font>, [김진수](bigpycraft@gmail.com)</font></div>
<hr>

# <font color='brown'>Module</font> 
> 내장 모듈
> - 난수 발생 모듈
> - 날짜 및 시간 관련 처리 모듈
> - 달력 생성 및 처리 모듈

## <font color='blue'>내장 모듈 </font>

### 난수 발생 모듈

In [1]:
import random

random.random()

0.20924684877140276

In [2]:
import random

dice1 = random.randint(1,6) # 임의의 정수가 생성됨
dice2 = random.randint(1,6) # 임의의 정수가 생성됨
print('주사위 두 개의 숫자: {0}, {1}'.format(dice1, dice2))

주사위 두 개의 숫자: 4, 1

In [3]:
import random

random.randrange(0,11,2)

4

In [4]:
import random

num1 = random.randrange(1, 10, 2) # 1 ~ 9(10-1) 중 임의의 홀수 선택
num2 = random.randrange(0,100,10) # 0 ~ 99(100-1) 중 임의의10의 단위 숫자 선택
print('num1: {0}, num2: {1}'.format(num1,num2))

num1: 5, num2: 90

In [5]:
import random

menu = ['비빔밥', '된장찌개', '볶음밥', '불고기', '스파게티', '피자', '탕수육']
random.choice(menu)

'비빔밥'

In [6]:
import random

random.sample([1, 2, 3, 4, 5], 2) # 모집단에서 두 개의 인자 선택

[3, 1]

### 날짜 및 시간 관련 처리 모듈

In [7]:
import datetime

set_day = datetime.date(2018, 3, 2)
print(set_day)

2018-03-02

In [8]:
print('{0}/{1}/{2}'.format(set_day.year,set_day.month,set_day.day ))

2018/3/2

In [9]:
import datetime

day1 = datetime.date(2019, 4, 1)
day2 = datetime.date(2019, 7, 10)
diff_day = day2 - day1
print(diff_day)

100 days, 0:00:00

In [10]:
type(day1)

datetime.date

In [11]:
type(diff_day)

datetime.timedelta

In [12]:
print("** 지정된 두 날짜의 차이는 {}일입니다. **".format(diff_day.days))

** 지정된 두 날짜의 차이는 100일입니다. **

In [13]:
import datetime

print(datetime.date.today())

2022-05-24

In [14]:
import datetime

today = datetime.date.today()
special_day = datetime.date(2019, 1, 1)
print(special_day - today)

-1239 days, 0:00:00

In [15]:
today = datetime.date.today()
xmas_date = datetime.date(2018, 12, 25)
remain_days = xmas_date - today
remain_days

datetime.timedelta(days=-1246)

In [16]:
print("크리스마스는 이제 {} 일 남았습니다.^^".format(remain_days.days))

크리스마스는 이제 -1246 일 남았습니다.^^

In [17]:
import datetime

set_time = datetime.time(15, 30, 45)
set_time

datetime.time(15, 30, 45)

In [18]:
print('{0}:{1}:{2}'.format(set_time.hour, set_time.minute, set_time.second ))

15:30:45

In [19]:
import datetime

set_dt = datetime.datetime(2018, 12, 1, 10, 20, 0)
print(set_dt)

2018-12-01 10:20:00

In [20]:
print('날짜 {0}/{1}/{2}'.format(set_dt.year, set_dt.month, set_dt.day))
print('시각 {0}:{1}:{2}'.format(set_dt.hour, set_dt.minute, set_dt.second))

날짜 2018/12/1
시각 10:20:0

In [21]:
import datetime

now = datetime.datetime.now()
print(now)

2022-05-24 03:58:23.096077

In [22]:
print("Date & Time: {:%Y-%m-%d, %H:%M:%S}".format(now))

Date & Time: 2022-05-24, 03:58:23

In [23]:
print("Date: {:%Y, %m, %d}".format(now))
print("Time: {:%H/%M/%S}".format(now))

Date: 2022, 05, 24
Time: 03/58/23

In [24]:
now = datetime.datetime.now()
set_dt = datetime.datetime(2022, 5, 24, 12, 30, 45)

print("현재 날짜 및 시각:", now)
print("차이:", set_dt - now)

현재 날짜 및 시각: 2022-05-24 03:58:23.142083
차이: 8:32:21.857917

In [25]:
from datetime import date, time, datetime

print(date(2022, 5, 1))

2022-05-01

In [26]:
print(date.today())

2022-05-24

In [27]:
print(time(15, 30, 45))

15:30:45

In [28]:
print(datetime(2022, 3, 2, 18, 10, 50))

2022-03-02 18:10:50

In [29]:
print(datetime.now())

2022-05-24 03:58:23.217333

### 달력 생성 및 처리 모듈

In [30]:
import calendar

In [31]:
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [32]:
print(calendar.calendar(2022, m=4))

                                               2022

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28                        28 29 30 31               25 26 27 28 29 30
31

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31      29 30 31
30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6                1  2  3  4
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
                          31

In [33]:
print(calendar.month(2022,5))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [34]:
calendar.monthrange(2022,5)

(6, 31)

In [35]:
calendar.firstweekday()

0

In [36]:
calendar.setfirstweekday(calendar.MONDAY)
print(calendar.month(2022,5))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [37]:
calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2022,5))

      May 2022
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [38]:
calendar.SUNDAY, calendar.MONDAY

(6, 0)

In [39]:
calendar.firstweekday()

6

In [40]:
print(calendar.weekday(2022, 5, 24))

1

In [41]:
print(calendar.isleap(2018))
print(calendar.isleap(2020))

False
True

위의 출력 결과에서 2020년은 윤년인 것을 알 수 있습니다.

<hr>
<marquee><font size=3 color='brown'>The BigpyCraft find the information to design valuable society with Technology & Craft.</font></marquee>
<div align='right'><font size=2 color='gray'> &lt; The End &gt; </font></div>